{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- paginate blog.articles by section.settings.posts_per_page -%}
  <div class="main-blog page-width">
    <h1 class="title--primary">{{ blog.title | escape }}</h1>

    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article">
          {%- render 'article-card',
            article: article,
            media_height: section.settings.image_height,
            media_aspect_ratio: article.image.aspect_ratio,
            show_image: section.settings.show_image,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: true
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "Main blog",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "collage",
          "label": "Collage"
        }
      ],
      "default": "grid",
      "label": "Layout"
    },
    {
      "type": "range",
      "id": "posts_per_page",
      "min": 1,
      "max": 24,
      "step": 1,
      "default": 9,
      "label": "Posts per page"
    },
    {
      "type": "header",
      "content": "Posts"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Image height"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "Show featured image"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "Show date"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "Show author"
    }
  ]
}
{% endschema %}