<!-- JudgeMe Reviews Widget -->
<div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge'>
  {{ shop.metafields.judgeme.badge }}
</div>

<section class="py-20 bg-gray-50">
[Rest of the existing code...]